html {
  user-select: none;
}

html, body, body > div:first-child, .fill {
  height: 100%;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mono {
  font-family: "Menlo", "Consolas", "Courier New", monospace !important;
}

img {
  pointer-events: none;
}